h1{text-align: center;
font-size: 40px;
text-decoration: underline;

}




h2{

color: cyan;

}
#Shipping{
color: chartreuse;
}

#Paragraph{
font-weight: bold;
}

.new{
    font-style: italic;
}

#vip{
background-color: burlywood;
margin: 80px;
padding: 30px;
border-radius: 40px;
color: brown;
}

#vip h3{
text-align: center;
font-size: 30px;

}

#vip:hover{
    background-color: chocolate;
}

#surprises{
    display: flex;
    gap: 20px;
    margin: 40px;

}

#Delivery{
display: flex;

}


#courses{
display: flex;
}
